# Build outputs
*.iml
.gradle/
/local.properties
/*.properties
/.idea/
/build/
app/build/
/captures/
gradlew
gradlew.bat

# Keystore files
*.jks
*.keystore

# OS files
.DS_Store
Thumbs.db

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
